<div class="child">
    <div class="column">
        <div class="card">
            <div class="rowTitulo">
                <span style="padding-left: 60px;"><img class="logo" src="yo.jpg"></span>
                <h1 class="mat-h1" style="text-align: center;">Luis Alejandro Figueredo<span style="padding-left: 20px;"></span></h1>
            </div>
                <h2 style="text-align: center;">Systems analyst</h2>
                <h2 style="text-align: center;">Full stack developer</h2>
        </div>
    </div>
    <div class="columnPhone">
        <div class="rowContacts">
            <p style="padding-top: 5px;">Celular:(+598) 98504391</p>
        </div>
        <span style="padding-left:20px;"></span>
        <div class="rowContacts">
            <p>Email:luisalejandrofigueredo&#64;gmail.com
                <a style="padding-left: 10px;" href="mailto:luisalejandrofigueredo@gmail.com"><button  mat-raised-button matTooltip="Send email" matTooltipPosition="above"><mat-icon>mail</mat-icon></button></a>
            </p>
        </div>
        <div class="rowContacts">
            <a href="https://www.linkedin.com/in/luis-figueredo-casadei/"><p><img src="icons8-linkedin.svg"></a>
        </div>
    </div>
    <img style="margin: auto;" src="fotoyo.jpg" alt="" width="50%">
</div>