.card{
    width: 300px;
    align-content: space-around;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 4px 4px 6px rgb(100 100 100);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
