<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel style="background-color: gray;" expanded=true>
        <mat-expansion-panel-header style="background-color: rgb(122, 119, 119);">
            <mat-panel-title >
                Gobierno
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="padding-left: 50px;background-color: gray"><b>Division</b> Cargo</p>
        <p style="padding-left: 50px; background-color: grey;"><b>Armada (Estado mayor de informática naval)</b></p>
        <p style="padding-left: 100px; background-color: grey;">Programador</p>
    </mat-expansion-panel>
    <mat-expansion-panel style="background-color: gray" expanded=true>
        <mat-expansion-panel-header style="background-color: rgb(122, 119, 119)">
            <mat-panel-title >
                Diarios
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="padding-left: 50px;background-color: gray"><b>Empresa</b> Cargo</p>
        <p style="padding-left: 50px;background-color: gray"><b>El Día</b> </p>
        <p style="padding-left: 100px; background-color: grey;">Programador</p>
        <p style="padding-left: 100px; background-color: grey;">Photoshop</p>
        <p style="padding-left: 100px; background-color: grey;">Mantenimiento</p>
        <p style="padding-left: 50px;background-color: gray;"><b>Diario Correo Punta del Este</b></p>
        <p style="padding-left: 100px; background-color: grey;">Diseñador gráfico</p>
        <p style="padding-left: 50px;background-color: gray;"><b>Este Diario</b></p>
        <p style="padding-left: 100px; background-color: grey;">Diseñador gráfico</p>
        <p style="padding-left: 100px; background-color: grey;">Programador</p>
        <p style="padding-left: 100px; background-color: grey;">Mantenimiento</p>
    </mat-expansion-panel>
    <mat-expansion-panel style="background-color: gray;" expanded=true>
        <mat-expansion-panel-header style="background-color: rgb(122, 119, 119)">
            <mat-panel-title>
                Shoppings
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="padding-left: 50px;background-color: gray"><b>Empresa</b> Cargo</p>
        <p style="padding-left: 50px;background-color: gray;"><b>Portones</b></p>
        <p style="padding-left: 100px; background-color: grey;">Programador</p>
        <p style="padding-left: 100px; background-color: grey;">Mantenimiento</p>
        <p style="padding-left: 50px;background-color: gray;"><b>Tres Cruces</b></p>
        <p style="padding-left: 100px; background-color: grey;">Programador</p>
        <p style="padding-left: 100px; background-color: grey;">Mantenimiento</p>
        <p style="padding-left: 50px;background-color: gray;"><b>Montevideo</b> </p>
        <p style="padding-left: 100px; background-color: grey;">Mantenimiento</p>
    </mat-expansion-panel>
</mat-accordion>